body {
  background-color: #3A3A3A;
  color: white;
}

header {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

nav {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  width:20%;
  margin-top: 2%
}

div {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

#sidebar-div {
  float: left;
}

#center-container {
  float: left;
  margin:2%;
  width:75%;
}

#filters-div {
  height: 40px;
}

#filter-by-text {
  float: left;
}

#subject-filter-button {
  float: left
}

#grade-filter-button {
  float: left;
}

.content-outer {
  display:flex;
  width:100%;
  height:250px;
}

.content-inner {
  flex:1
}

.content-photo {
  border: 1px white solid;
  height: 50px;
  width: 50px;
  float: left;
  vertical-align: middle;
  display: table;
}

.content-info {
  float: left;
}

#footers-div {

}
